/**
.sl-slider-wrapper {
	overflow: visible !important;
	margin: 0 auto;
}

.sl-slider,
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	
	
	
} 

.demo-1 .sl-slide blockquote {
	
}

.demo-2 .bg-img {
	padding: 0;
	top: 0;
	left: 0;
}

.nav-arrows,
.nav-dots {
	
}
**/