<div class="row">
	<div class="nine columns centered">

		<div class="row">
			<div class="encabezado">
				<a><span>&laquo; Leccion 3: </span>Componentes Básicos</a>
				<span class="right_ab"><a><strong>Programación Orientada a Objetos</strong></a></span>
			</div>
		</div>
			
		<br /><br /><br /><br /><br /><br />
	
		<!-- EJERCICIO -->	
		<div class=" row ejercicio">
			<div class="eleven columns centered">	
				<div class="twelve columns centered">
					<div id="txt1"><h1>Atributos: Ejercicio 3.2. </h1></div>
				</div>
				
				<div class="row">
					<div class="three columns">
						<%= image_tag("sombra.png", :id =>'sombra')%>
						<div id="mintshare_c2">
							<div class="mintshare-wrap2"><a class="top-a2">INSTRUCCIONES</a>
								<div class="desplegable2">
									<ul class="icons2">
										<li class="drop-li2"><a href="javascript:void(0);" id="startTour2" class="drop-a2"><button class="button orange">Iniciar</button></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<!-- MintShare Compact End-->

		    		<div id="numeross">
		      			<div class="1"><h3 id="numero5" class="so-awesome">1</h3></div><br><br><br><br>
		      			<div class="2"><h3 id="numero6">2</h3></div><br><br><br><br>
		       			<div class="3"><h3 id="numero7">3</h3></div><br><br><br><br>
		   	 	 		<div class="4"><h3 id="numero8">4</h3></div><br><br><br><br>
		   	  			<div class="5"><h3 id="numero9">5</h3></div><br><br><br><br>
		   	   			<div class="6"><h3 id="numero10">6</h3></div><br><br><br><br>
		  			</div>
					<!-- Tip Content -->
		
		    		<ol id="joyRideTipContent">
		      			<li data-id="numero5" data-text="Siguiente" class="custom">
		        			<h2>Intrucciones</h2>
		       				<p>Se tiene un objeto llamado <b>estudiante</b> con los siguientes atributos locales:</p>
		      			</li>
		      			<li data-id="numero6" data-button="Siguiente">
		        			<p><b>nombre:</b> Carlos</p>
		      			</li>
		      			<li data-id="numero7" data-button="Siguiente">
		        			<p><b>número de control:</b> 12345</p>
		      			</li>
		      			<li data-id="numero8" data-button="Siguiente">
		        			<p><b>carrera:</b> sistemas</p>
		      			</li>
		      			<li data-id="numero9" data-button="Siguiente">
		        			<p><b>semestre:</b> 1</p>
		      			</li>
		      			<li data-id="numero10" data-button="Cerrar">
		        			<p>Codifica los atributos mencionados en lenguaje Lumin dentro de los campos de texto.</p>
		      			</li>
		    		</ol>	
					<div class="two columns">
						<div id="etiquetas" class="etiquetas">
							 <div class="row"><div id="nombre"><a  class="sweet-tooltip" data-style-tooltip="tooltip-sweet-strong" data-text-tooltip="Carlos">nombre</a></div></div>
							 <div class="row"><div id="igual1">=</div></div>
							 <div class="row"><div id="numControl"><a class="sweet-tooltip" data-style-tooltip="tooltip-sweet-strong" data-text-tooltip="12345">nc</a></div></div>
				     		 <div class="row"><div id="igual2">=</div></div>
				      		 <div class="row"><div id="carrera"><a  class="sweet-tooltip" data-style-tooltip="tooltip-sweet-strong" data-text-tooltip="Sistemas">carrera</a></div></div>
				      		 <div class="row"><div id="igual3">=</div></div>
				      		 <div class="row"> <div id="semestre"><a  class="sweet-tooltip" data-style-tooltip="tooltip-sweet-strong" data-text-tooltip="1">semestre</a></div></div>
				      		 <div class="row"><div id="igual4">=</div></div>
						</div>
					</div>
					
					<div class="twelve columns">
					   	<form name="contact" method="post" action="">
					   		  
			    		  <input type="text"  placeholder="Completa" required="required" name="cont1" id="cont1" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont1" id="cont1_error">Completa.</label>
					   
					      <input type="text" placeholder="Completa" name="cont2" id="cont2" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont2" id="cont2_error">Completa.</label>
					        
					      <input type="text" placeholder="Completa" name="cont3" id="cont3" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont3" id="cont3_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont4" id="cont4" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont4" id="cont4_error">Completa.</label>
					  
					      <input type="text" placeholder="Completa" name="cont5" id="cont5" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont5" id="cont5_error">Completa.</label>
					    
					      <input type="text" placeholder="Completa" name="cont6" id="cont6" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont6" id="cont6_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont7" id="cont7" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont7" id="cont7_error">Completa.</label>
					     
					      <input type="text" placeholder="Completa" name="cont8" id="cont8" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont8" id="cont8_error">Completa.</label>
					         
					      <input type="text" placeholder="Completa" name="cont9" id="cont9" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont9" id="cont9_error">Completa.</label>
					  
					      <input type="text" placeholder="Completa" name="cont10" id="cont10" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont10" id="cont10_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont11" id="cont11" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont11" id="cont11_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont12" id="cont12" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont12" id="cont12_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont13" id="cont13" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont13" id="cont13_error">Completa.</label>
					 
					      <input type="text" placeholder="Completa" name="cont14" id="cont14" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont14" id="cont14_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont15" id="cont15" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont15" id="cont15_error">Completa.</label>
					      
					      <input type="text" placeholder="Completa" name="cont16" id="cont16" size="30" value="" class="text-input" required/>
					      <label class="error" for="cont16" id="cont16_error">Completa.</label>
					      <br />
					      <div class="two columns"><div class="row"><div id="submit_btn2"><input type="submit" name="submit"  id="submit_btn" value="Validar" /></div></div></div>
			  		    </form>	
  		   			 </div>
  		    	</div>
  		    </div>
  		   	</div>	
		</div>	<!--- FIN EJERCICIO-->

		<div class="demo">
				
			<div id="botones1"><a href="#" class="big-link" data-reveal-id="myModal"><button id="tarea2">Tarea</button></a></div>
			<div id="botones2"><button id="validar2">Obtener Puntos</button></div>
		
			<div id="myModal" class="reveal-modal">
				<a class="close-reveal-modal">X</a>
				<div id="imag2"><%= image_tag("libros.png", :id =>'sombra')%></div>
				<div id="ta2"><span id="letrero">Identifica los atributos de cinco objetos y posteriormente codificalos en lenguaje Lumin.</span></div>
			</div>
		
			
		    <div id="e3" title="constante"><p id="t" ></p></div>
		    <div id="e4" title='"Carlos ó carlos"'><p id="t" ></p></div>
		    <div id="e5" title="tipo"><p id="t" ></p></div>
		    <div id="e6" title="cadena"><p id="t" ></p></div>
		    <div id="e7" title="constante"><p id="t" ></p></div>
		    <div id="e8" title="12345"><p id="t" ></p></div>
		    <div id="e9" title="tipo"><p id="t" ></p></div>
		    <div id="e10" title="entero"><p id="t" ></p></div>
		    <div id="e11" title="constante"><p id="t" ></p></div>
		    <div id="e12" title='"Sistemas" ó "sistemas"'><p id="t" ></p></div>
		    <div id="e13" title="tipo"><p id="t" ></p></div>
		    <div id="e14" title="cadena"><p id="t" ></p></div>
		    <div id="e15" title="variable"><p id="t" ></p></div>
		    <div id="e16" title=" 1 "><p id="t" ></p></div>
		    <div id="e17" title="tipo"><p id="t" ></p></div>
		    <div id="e18" title="entero"><p id="t" ></p></div>

		</div><!-- End demo -->		
	   </div>
	
</div>