<span class='error1'>Respuestas Correctas</span>
		
<div class="row">
	<div class="nine columns centered">
		
		<div class="row">
			<div class="encabezado">
				<a><span>&laquo; Leccion 3: </span>Componentes Básicos</a>
				<span class="right_ab"><a><strong>Programación Orientada a Objetos</strong></a></span>
			</div>
		</div>
		
		<br /><br /><br /><br /><br /><br />
		
		<div class="row ejercicio">
			<div class="eleven columns centered">
				<div class="twelve columns centered">
					<h1>Objetos: Ejercicio 3.1. </h1>
				</div>
				
				<div class="row">
					
					<div class="two columns">
 						<%@etiquetas.each do |p|%>
  							
  							 <div class="row"><div id="etiqueta<%=Random.rand(1...11)%>"  class="caracteristica arrastrable"><%=p.Linea%></div></div>
						 <%end%>      
					</div>
        				
					
									
					<div class="three columns">
						
							<div id="mintshare_c" class="eight columns centered" >
										
								<div class="mintshare-wrap ">
										  	
									<a class="top-a ">INSTRUCCIONES</a>

										<div class="desplegable twelve columns centered">
											<ul class="icons">
												<li class="drop-li"><a href="javascript:void(0);" id="startTour" class="drop-a"><button class="button orange">Iniciar</button></a></li>
											</ul>
										</div>
								 </div>	
							</div>
					 </div>
						
						<ol id="joyRideTipContent">
							<li data-id="numero1" data-text="Siguiente" class="custom">
								<h2>Intrucciones</h2>
								<br>
								<p>Se tiene un objeto llamado <b>automóvil</b> el cual tiene características y comportamientos respresentados por las etiquetas de la izquierda.</p>
							</li>
							<li data-id="numero2" data-button="Siguiente">
								<p>Selecciona las <b>etiquetas.</b></p>
							</li>
							<li data-id="numero3" data-button="Siguiente">
								<p>Arrastra las <b>etiquetas</b> al contededor correspondiente.</p>
							</li>
							<li data-id="numero4" data-button="Cerrar">
								<p><b>NOTA:</b> Cuida que las etiquetas estén dentro de los contenedores, sino se conciderará incorrecta.</p>
							</li>
						</ol>	
					

					<div class="six columns">
						<div id="contenedores">
							<div id="sueltarojo" class="suelta1">CARACTERÍSTICAS</div>
							<div id="sueltaazul" class="suelta2">COMPORTAMIENTOS</div>
						</div>
					</div>
				
						<div id="numeros">
							<div class="1"><h3 id="numero1" class="so-awesome">1</h3></div>
							<br><br><br><br>
							<div class="hide-number"><h3 id="numero2">2</h3></div>
						    <br><br><br><br>
							<div class="3"><h3 id="numero3">3</h3></div>
							<br><br><br><br>
							<div class="4"><h3 id="numero4">4</h3></div>			   
						</div>
				</div>
				
				<div class="row">
					<div class="three columns">
						<div id="botones2"><button id="validar">Validar</button></div>
					</div>
				</div>
			</div>
		</div>
			
				
		<div class="ventanas">
			<div id="botones1"><a href="#" class="big-link" data-reveal-id="myModal"><button id="tarea">Tarea</button></a></div>
				<div id="myModal" class="reveal-modal">
					<a class="close-reveal-modal">X</a>
					<div id="imag"><%= image_tag("libros.png")%></div>
					<div id="ta"><span id="letrero">Elije 5 objetos del mundo real e identifica sus características y comportamientos.</span></div>
				</div>
					
				<div id="e1" title="Características"><p id="t" ></p>- Modelo<br>- Marca<br>- Motor<br>- Color<br>- Año</div>
				<div id="e2" title="Comportamientos"><p id="t" ></p>- Frenar<br>- Acelerar<br>- Retroceder<br>- Encender<br>- Apagar</div>
		</div><!-- fin ventanas -->	
			
	</div>
</div>    <!-- FIN CONTENIDO-->