<div class="row">
	<div class="twelve columns centered">
<!-- CÍRCULOS -->      
<div id="cloud1" class="clouds"><div id="clouds-small"></div></div>
<div id="cloud2" class="clouds"><div id="clouds-big"></div></div>

<!--<div id="avion"></div>-->    
  <div class="row">
	 
<!-- MENU -->
<ul id="menu">
	<li><a href="#box1" class="link">Inicio</a></li>
	<li><a href="#box2" class="link">2</a></li>
	<li><a href="#box3" class="link">3</a></li>
</ul>
</div>

 <div class="row">
 	
<!-- CUADRO DE TEXTO -->	
	<div id="wrapper">
    	<ul id="mask">
        	<li id="box1" class="box">
            	<a name="box1"></a>
                 <div class="content"><div class="inner">
                	<h2>Introducción</h2>
                	<p>
                		La programación orientada a objetos es un importante conjunto de técnicas que pueden utilizarse para hacer el desarrollo de programas más eficientes, a la par que mejora la fiabilidad de los programas de computadora. En este paradigma de la programación los componentes básicos que se requieren para crear programas informáticos son las <i>clases</i>, los <i>objetos</i>, los <i>atributos</i> y los <i>métodos</i>, en donde un <b>objeto</b> representa una persona, un lugar o una cosa. 
                	</p>
                	<br>
                	<p>
                		Ejemplos de objetos: maestro, computadora, vuelo de avión, ciudad, bicicleta, etc. Por otro lado, una <b>clase</b> es una caracterización abstracta de un conjunto de objetos; todos los objetos similares pertenecen a una clase determinada. Por ejemplo, un conjunto de objetos reales como cuadrados, triángulos, círculos, lineas, etc., pertenecen a una clase <i>figura</i>, por lo tanto dentro de una clase se define las <i>variables</i> (datos) y <i>métodos</i> (operaciones) comunes a un conjunto de objetos. 
                	</p>
                	</div></div>
            </li><!-- end box1 -->
            <li id="box2" class="box">
            	<a name="box2"></a>
                <div class="content"><div class="inner">
                	<br>
                	<br>
                	<br>
                	<br>
                	<p>
                		La mayoría de los objetos del mundo real tienen <b>atributos</b>, los cuales son las características que los describen. Por ejemplo, los atributos de una persona incluyen el nombre, la edad, el sexo, la fecha de nacimiento , la dirección, etc.,  los objetos tienen atributos, y ellos, a su vez, comportamientos. El <b>comportamiento</b> es el conjunto de cosas que puede hacer un objeto; por ejemplo, una persona puede estudiar, caminar, trabajar, etc., a dichos comportamientos en la programación orientada a objetos se les conoce como <b>métodos</b>. 
                	</p>
                	
                </div></div>
            </li><!-- end box2 -->
            <li id="box3" class="box">
            	<a name="box3"></a>
                <div class="content"><div class="inner">
                	<br>
                	<p>
                		En el presente módulo se dará a conocer a detalle los componentes básicos de la programación orientada a objetos, primero se realizará una evaluación inicial para conocer los conocimientos previos del alumno. Cada tema incluirá ejercicios que contribuirán a obtener una mayor compresión del mismo, al termino de la lección se realizará una evaluación final para medir el aprendizaje del alumno.
                	</p>
                	<br>
                	<br>
                	<br>
                	<div class="biblio" >
                		<p>Programación Orientada a Objetos.</p>
						<p>Conceptos, modelado, diseño y codificaciones en C++.</p>
						<p>Autor: Luis Joyanes Aguilar</p>
						<p>Editorial: McGraw-Hill</p>
                	</div>
                </div></div>
            </li><!-- end box3 -->
        </ul><!-- end mask -->
    </div><!-- end wrapper -->
    </div>
    </div>
</div>