<div class="todo">
<div class="row">
	<div class="twelve columns centered">
		<div class="inicio intro">
   
			<!-- Encabezado-->
		<div class="row">
			<div class="twelve columns centered">
	            <div class="codrops-top clearfix">
	                <a><strong>&laquo; Lección 3: </strong>Componentes Básicos</a>
	                <span class="right"><a><strong>Programación Orientada a Objetos</strong></a></span>
	            </div>
	        </div>
		</div>
	           
	           
		<div class="row">
			<div class="twelve columns centered">    
		    	<div id="slider" class="sl-slider-wrapper">
					<div class="sl-slider">

							<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
								<div class="sl-slide-inner">
									<div class="deco" data-icon="t"></div>
									<h2>Introducción</h2>
									<section><p id="pag1">La <b>programación orientada a objetos</b> es un importante conjunto de técnicas que pueden utilizarse para hacer el desarrollo de programas más eficientes, a la par que mejora la fiabilidad de los programas de computadora.</p><cite>Componentes Básicos</cite></section>
								
								</div>
							</div>
						
							
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner">
								<div class="deco" data-icon="t"></div>
								<h2>Introducción</h2>
								<section><p id="pag1">En este paradigma de la programación los <b>componentes básicos</b> que se requieren para crear programas informáticos son las <i>clases</i>, los <i>objetos</i>, los <i>atributos</i> y los <i>métodos</i>, en donde un <b>objeto</b> representa una persona, un lugar o una cosa. Ejemplos de objetos: maestro, computadora, vuelo de avión, ciudad, bicicleta, etc. </p><cite>Componentes Básicos</cite></section>
							</div>
						</div>
							
						<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
							<div class="sl-slide-inner">
								<div class="deco" data-icon="t"></div>
								<h2>Introducción</h2>
								<section><p id="pag1">Por otro lado, una <b>clase</b> es una caracterización abstracta de un conjunto de objetos; todos los objetos similares pertenecen a una clase determinada. Por ejemplo, un conjunto de objetos reales como cuadrados, triángulos, círculos, lineas, etc., pertenecen a una clase <i>figura</i>, por lo tanto dentro de una clase se define las <i>variables</i> (datos) y <i>métodos</i> (operaciones) comunes a un conjunto de objetos.</p><cite>Componentes Básicos</cite></section>
							</div>
						</div>
							
						<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
							<div class="sl-slide-inner">
								<div class="deco" data-icon="t"></div>
								<h2>Introducción</h2>
								<section><p id="pag1">La mayoría de los objetos del mundo real tienen <b>atributos</b>, los cuales son las características que los describen. Por ejemplo, los atributos de una persona incluyen el nombre, la edad, el sexo, la fecha de nacimiento , la dirección, etc.,  los objetos tienen atributos, y ellos, a su vez, comportamientos. </p><cite>Componentes Básicos</cite></section>
							</div>
						</div>
							
						<div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
							<div class="sl-slide-inner">
								<div class="deco" data-icon="t"></div>
								<h2>Introducción</h2>
								<section><p id="pag1">El <b>comportamiento</b> es el conjunto de cosas que puede hacer un objeto; por ejemplo, una persona puede estudiar, caminar, trabajar, etc., a dichos comportamientos en la programación orientada a objetos se les conoce como <b>métodos</b>.</p><cite>Componentes Básicos</cite></section>
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<div class="row">
						<div class="ten columns centered"> 
							<nav id="nav-arrows" class="nav-arrows">
								<span class="nav-arrow-prev">Previous</span>
								<span class="nav-arrow-next">Next</span>
							</nav>
						</div>
					</div>
						
					<div class="row">
					
						<nav id="nav-dots" class="nav-dots">
							<span class="nav-dot-current"></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</nav>
					

				</div>
			</div>
		</div>
					
	</div><!-- /slider-wrapper -->
		
	</div>
</div>
</div> 
</div>

